<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main>
  <% if(messages.length > 0) { %> <% messages.forEach(message => { %>
  <p class="user__message user__message-error"><%= message.msg %></p>
  <% }) %> <% } %> <% if(flashMessage) {%>
  <p class="user__message user__message-error"><%= flashMessage%></p>
  <%} %>
  <form class="login-form" action="/login" method="POST">
    <div class="form-control">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
    </div>
    <div class="form-control">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button type="submit">Login</button>
    <a class="reset__link" href="/reset">Forgot Password?</a>
  </form>
</main>
<%- include("../partials/footer.ejs") %>
