<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main>
  <% if(messages) { %>
  <p class="user__message user__message-error"><%= messages %></p>
  <% } %>
  <form class="login-form" action="/new-password" method="POST">
    <div class="form-control">
      <label for="password">Set New Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <input type="hidden" name="user_id" value="<%= user_id %>" />
    <input type="hidden" name="passwordToken" value="<%= passwordToken %>" />
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <button type="submit">Set Password</button>
  </form>
</main>
<%- include("../partials/footer.ejs") %>
