<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main>
  <% if(messages.length > 0) { %> <% messages.forEach(message => { %>
  <p class="user__message user__message-error"><%= message.msg %></p>
  <% }) %> <% } %>
  <form
    class="product-form"
    action="<%= editing? '/admin/edit-product' : '/admin/add-product' %>"
    method="POST"
  >
    <div class="form-control">
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        value="<% if(editing || hasErrors) { %><%= product.title %><% } %>"
        class="<%= validationErrors.find(error => error.param === 'title') ? 'is-invalid': '' %>"
      />
    </div>
    <div class="form-control">
      <label for="imageUrl">Image URL</label>
      <input
        type="text"
        name="imageUrl"
        id="imageUrl"
        value="<% if(editing || hasErrors) { %><%=product.imageUrl%><% } %>"
        class="<%= validationErrors.find(error => error.param === 'imageUrl') ? 'is-invalid': '' %>"
      />
    </div>
    <div class="form-control">
      <label for="price">Price</label>
      <input
        type="number"
        name="price"
        id="price"
        step="0.01"
        min="0"
        value="<% if(editing || hasErrors) { %><%=product.price%><% } %>"
        class="<%= validationErrors.find(error => error.param === 'price') ? 'is-invalid': '' %>"
      />
    </div>
    <div class="form-control">
      <label for="description">Description</label>
      <textarea name="description" id="description" rows="5">
<% if(editing || hasErrors) { %><%=product.description%><% } %></textarea
      >
    </div>
    <% if(editing) { %>
    <input type="hidden" name="product_id" value="<%= product._id %>" /> <% } %>
    <button type="submit">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" /> <%= editing?
      "Update Product" :" Add Product" %>
    </button>
  </form>
</main>
<%- include("../partials/footer.ejs") %>
