<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<main>
  <% if(products.length > 0) {%> <% products.forEach((el) => { %>
  <ul class="cart__item-list">
    <li class="cart__item">
      <p><%= el.title %> <span>- <%= el.cartItem.quantity%></span></p>
      <form action="/cart-delete-item" method="POST">
        <input type="hidden" name="product_id" value="<%= el.cartItem.id %>" />
        <button class="btn danger" type="submit">Delete</button>
      </form>
    </li>
  </ul>
  <% }) %>
  <form action="/create-order" method="POST">
    <button class="btn" type="submit">Order Now!</button>
  </form>
  <%} else { %>
  <h2>No porducts in your cart.</h2>
  <% } %>
</main>

%> <%- include("../partials/footer.ejs") %>
